<!--yhs-accleration-->
<launch>
    <rosparam file="$(find fsac_can_control)/config/vehicle_basis_info.yaml" command="load"/>
    
    <node pkg="fsac_can_control" type="fsac_can_control_node" name="fsac_can_control_node" output="screen"/>

    <!-- 将车辆基本参数上传到参数库 -->
    

</launch>

<!-- 启动多个节点 -->